
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    width: 100vw;
    margin: 0;
    color: #f9faf8;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    width: 100vw;
    margin: 0;
    color: #f9faf8;
    padding: 50px;
}

.hero-content{
    max-width: 500px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 800;

}

.hero-content p {
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}

.hero-content button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border-color: transparent;

}


/*
.hero-content{

}


.hero-content p {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

.testimonial{
    background-color: #e5e7eb;

}
/*
