
.header{
    background-color: #1f2937;
    width: 100vw;
    margin: 0;
    color: #f9faf8;
}

div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero{
    background-color: #1f2937;
    width: 100vw;
    margin: 0;
    color: #f9faf8;
    display: flex;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero p {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

.testimonial{
    background-color: #e5e7eb;

}