
.header{
    background-color: #1f2937;
    width: 100vw;
    margin: 0;
    color: #f9faf8;
}

.hero{
    background-color: #1f2937;
    width: 100vw;
    margin: 0;
    color: #f9faf8;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
}



div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.testimonial{
    background-color: #e5e7eb;

}